

.persons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* overflow-x: auto;
    overflow-y: scroll; */
    height: 600px;
    overflow: auto auto;

    /* background-color: hotpink; */
}

.person,.date{
    display:flexbox;
    flex-wrap: nowrap;
    width: 180px;
    flex-direction: column;

    border: solid 2px#8C8C8C;

    p{
        display: flexbox;
        /* flex-wrap: ; */
    }
}

.date {
    display: flex;
    flex-direction: row;
}

.bookingTimes{
    /* width: 180px; */
    display: flex;
    flex-direction: column;
    
    p{
        display: flex;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        border: 1px solid #8C8C8C;
    }
}