*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-1: #D8E3FF;/*Header*/
    --color-2: #44B1F9;/*Blå  B 50%*/
    --color-3: #00E910;/*Grön  Bokningsbar */
    --color-4: #FFDA0C;/*Gul PB 100%*/
    --color-5: #FFA20C;/*Orange B 100%*/
    --color-6: #DCD9D9;/*Grå*/
    --color-7: #7FFFD0;/*Cyan PB 50%*/
    --color-8: #8B1313;/*Röd Frånvarande*/
    --color-9: #2D3134;/*Textfärg */
    --color-10: #8C8C8C;/*Scrollbar  och Rutnät*/
    --color-11: #0047FF;/*blå färg kalender*/
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
    margin-block-end: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Hanken Grotesk', sans-serif;
}

header {
    background-color:lightsteelblue;
}

div > label {
    display: flex;
    gap: 0.2em;
    align-items: center;
}

label > input {
    margin: 0;
    height: 20px;
    width: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.navSort > h5 {
    margin: 0.9em 0em 0em 0em;
}
.navSort > select {
    padding: 0.4em;
    border-radius: 0.5em;
}

h1 {
    padding: 0.3em 0.3em 0 0.3em;
}

.navCheckBoxes{
    svg{
        width: 25px;
        height: 35px;
        justify-content: baseline;
    }
}

.navCheckBoxes > div {
    display: flex;
    gap: 0.2em;
    align-items: center;
    justify-content: center;
}

.navDate > form {
    display: flex;
}

.navDate > form > div{
    display: flex;
    flex-direction: column;
}

.navDate > form > div > input{
    border-radius: 0.5em;
    padding: 0.4em;
}

.navDate > form > div > label{
    font-size: small;
    margin-top: 0.8em;
}

form > p {
    margin-top: 2em;
}

main {
    margin: 2em;
}

.timetable {
    border: solid 3px#8C8C8C;
    border-radius: 0.2em;
}

.colorInformation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 30px;
    justify-content: center;

    #Bokad100, #Bokad50, #prelBokad100, #prelBokad50, #bokningsbar, #franvarand {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 10px;
    }

    #B100, #B50, #PB100, #PB50, #FRI, #F{
        width: 25px;
        height: 25px;
        border: solid 2px var(--color-10);
    }

    #B100 {
        background-color: var(--color-5);
    }

    #B50 {
        background-color: var(--color-2);
    }

    #PB100 {
        background-color: var(--color-7);
    }

    #PB50 {
        background-color: var(--color-4);
    }

    #FRI {
        background-color: var(--color-3);
    }

    #F {
        background-color: var(--color-8);
    }
}

